body {
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
    background: rgb(20, 20, 20); 
    overflow: hidden;
}

.inset-0 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

button {
    border-radius: 40px !important;
    width: 30%;
}

#logo {
    width: 100px;
}

img {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#panel {
    width: 70%;
}

#player {
  height: 80px;
  position: absolute;
  /* animation: rocket 0.2s ease-in-out infinite; */

    -webkit-animation: rocket 0.2s ease-in-out;
    -moz-animation: rocket 0.2s ease-in-out;
    -o-animation: rocket 0.2s ease-in-out;
    animation: rocket 0.2s ease-in-out;

    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes rocket {
    0%, 100% {
        -webkit-transform: translateY(-1px);
        -moz-transform: translateY(-1px);
        -o-transform: translateY(-1px);
        transform: translateY(-1px);
    }
    50% {
        -webkit-transform: translateY(1px);
        -moz-transform: translateY(1px);
        -o-transform: translateY(1px);
        transform: translateY(1px);
    }
}

.palavra {
    position: fixed;
    font-size: 10px;
    z-index: 1;
  }

.bigger {
    font-size: 18px;
}

.watermark {
    opacity: 0.4;
    font-size: 8px;
    z-index: 3;
}

#pontuacao {
    opacity: 0.6;
}

#container {
    height: 83px;
    background-color:rgba(255,255,255,0.01); 
    z-index: 2;
}


button:focus {
    outline: none;
}

button:active {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    transition: 0.5s ease;
}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {

    button {
        width: auto;
        font-size: 13px !important;
    }

    #logo {
        width: 90px;
    }

    #proposta {
        font-size: 13px;
        
    }

    #lastScoreText {
        font-size: 13px;
    }

    #lastScore {
        font-size: 22px;
    }

    #panel {
        width: 85%;
    }
}